* {
  margin: 0;
  padding: 0;
  font-family: giz;
}

.cor_verde { /* cor verde que é reaproveitada em tudo no jogo */
  background-color: #5e9b77;
}

.fundo { /* class que coloca ajuda a adicionar a imagem de fundo */
  position: relative;
  justify-content: center;
  align-items: center;
}

img {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.interface {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 7% 0% 0% 50%;
  transform: translate(-50%);
  width: calc(100vw / 2 - 4%);
  height: 55%;
}

header {
  text-align: center;
  align-items: center;
  margin: 2% 0% 2% 0%;
}

.placar {
  margin: 1% 0% 1% 0%; /* espaçamento entre os elementos do placar */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.placar div { /* essa div ajuda a organizar os elementos do placar */
  display: flex;
  justify-content: center;
}

.mesa-jogo {
  height: calc(100vh / 2);
  width: calc(100vw / 2 - 10%);
  display: grid; /* o grid que separa organiza os botoes clicaveis */
  grid-template-rows: 33.4% 33.4% 33.4%;
  grid-template-columns: 33.4% 33.4% 33.4%;
}

.jogo { /* O jogo */
  border: #ffffff solid 2px;
  text-align: center;
  justify-content: center;
  line-height: 100px;
  font-size: 300%;
}

.botoes {
  margin: 2% 5% 0% 0%;
  position: relative;
}

.botao {
  width: 20%;
  margin-right: 5px;
  height: 40px;
  border: #ffffff solid 2px;
  border-radius: 5px;
}

#modal-container { /* a partir daqui começa a mexer com o modal */
  display: none;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* aplica um efeito de desfoque nos elementos ao fundo */
}

.borda {
  position: absolute;
  border: #000 solid 5px;
  width: 448px;
  height: 227px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.borda-interna {
  width: 103%;
  height: 112%;
  border: #000 solid 3px;
  margin: -3% 2.3% -4% -2.1%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  font-size: 200%;
  border: #c79452 solid 15px;
}

.modal-header {
  margin-bottom: 20px;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-footer {
  text-align: center;
}

.button { /* botao de fechar o modal */
  width: 50%;
  height: 14%;
  font-size: 100%;
  border: #ffffff 2px solid;
}
