@media (max-width: 600px) {
    .menu-horizontal {
        display: none;
    }

    #menu-icon {
        visibility: visible;
        margin-right: 0;
        margin-left: auto;
        margin-top: 2rem;
    }

    .menu-lateral {
        visibility: hidden;
        right: 0;
    }

    .menu {
        margin-top: 3rem;
    }

    header h2 {
        margin-left: 1rem;
    }


    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        width: 10rem;
    }

    .background {
        align-items:center;
    }

    .background img {
        width: 50%;
        margin-right: 0;
        margin-left: 3%;
    }

}

@media (max-width: 415px) {
   .menu-horizontal {
        display: none;
    }

    #menu-icon {
        visibility:visible;
        margin-right: 0;
        margin-left: auto;

    }

    .menu-lateral {
        visibility: hidden;
        right: 0;
    }

    header h2 {
        margin-left: 1rem;
    }

}

@media (max-width: 390px) {
    .menu-horizontal {
        display: none;
    }

    #menu-icon {
        display: block;
        margin-left: -30%;
        
    }

    .menu-lateral {
        display: block;
        margin-left: 0%;
    }

    .background img {
        width: 80%;
        margin-top: 80%;
        margin-right: auto;
    }

    .background {
        display: flex;
        flex-direction: column;
    }

    .content {
        height: auto;
        width: 90%;
        margin: -40% auto 0 0;
    }
}