* {
    margin: 0;
    padding: 0;
}

/* variaveis */
:root {
    --background-green: #7BED9F;
    --button-yellow: #EEFD6F;
    --hover-yellow: #dde975;
    --tex-gyre: "tex-gyre-normal";
    --tex-gyre-i: "tex-gyre-italic";
    --noto-serif: "noto-serif-normal";
    --noto-serif-i: "noto-serif-italico";
}

body{
    background-color: var(--background-green);
    overflow-y: hidden;
    overflow-x: hidden;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--background-green);
}

header h2 {
    margin: 1rem auto 0 auto;
    font-family: var(--noto-serif);
}

.menu-horizontal{
    display: flex;
    list-style: none;
}

li{
    cursor: pointer;
    font-family: var(--tex-gyre);
    font-size: 1rem;
}

li:hover {
    scale: 1.1;
    transition: 0.5s;
}

li:last-child {
    background-color: var(--button-yellow);
    border: 2px solid #000;
    border-radius: 20px;
}

li:last-child:hover{
    scale: 1.1;
    background-color: var(--hover-yellow);
}

/* menu lateral responsivo */
#menu-icon {
    margin-top: 1rem;
    padding-top: 1rem;
    right: 3rem;
    left: auto;
    width: 20%;
    position: absolute;
    visibility: hidden;
    z-index: 9999;
}

.menu-lateral{
    border: 2px solid #000;
    height: 105%;
    width: auto;
    z-index: 9999;
    position: absolute;
    margin-top: -5%;
    background-color: #67d88b;
    visibility: hidden;
}

.menu {
    padding-right: 0rem;
    list-style: none;
}

li{
    margin: 1.5rem 0.5rem;
    padding: 0 0 0 0;
}


.blur {
    width: 100vw;
    height: 150%;
    margin-top: -10%;
    backdrop-filter: blur(3px);
    z-index: 1;
    position: absolute;
    display: none;
}

.conteudo {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* .background img {
    margin-top: 50%;
    margin-left: 10%;
    transform: translateY(-100%);
} */

/* texto */
.texto {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    right: 0;
    margin-left: auto;
    position: absolute;
}

h1, p, button {
    padding: 10px 0;
}

h1 {
    font-size: 3rem; /* 3x o tamamnho original */
    font-family: var(--noto-serif);
}

span {
    font-family: "noto-serif-italico";
}

p {
    font-size: 1.5rem;
    width: 60%;
    font-family: var(--tex-gyre);
}

button{
    background-color: var(--button-yellow);
    border-radius: 20px;
    width: 14rem;
    cursor: pointer;
    font-family: var(--tex-gyre);
    font-size: 1.2rem;
    margin-top: 1rem;
}

button:hover {
    scale: 1.1;
    background-color: var(--hover-yellow);
    transition: 0.5s;
}